/* HEADER */
.bawah-nav {
    padding: 0;
}

.jumbotron {
    background: #00CAD1
}


/* ISI */
/* HOME */
.box-home {
    margin: 30px;
}

.home-logo {
    border: 1px solid rgba(170, 154, 154, 0.739);
    width: 320px;
    height: 320px;
}

/* BARANG DETAIL */
.barang_detail {
    border: 1px solid grey;
    padding: 0;
    margin-left: 350px;
    margin-top: -30px;
    width: 440px;
}


/* FOOTER */
.footer-1 {
    background-color: #00CAD1
}

.footer-2 {
    background-color: black
}